.container{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: white;
    height: 100%;
    width: 100%;
}

.card{
    height: 100%;
    background: rgb(94, 94, 236);
    border: solid black;
}

.imagen{
    width: 20%;
    align-self: center;
}

